td > .primary {
    margin-top: 390px !important;
}

center > img[src*="uploads/banners/"] {
    background-image: url(https://i1.lensdump.com/i/jXL5r1.png);
    background-attachment: fixed;
    background-size: 100%;
    
    padding-top: 250px;
}

center > img[src*="uploads/banners/"] + .mainline {
    display: inline-block;
}

center > img[src*="uploads/banners/"] + .mainline::before, .statusbar + center > .mainline:first-child::before {
    background-image: url(https://i1.lensdump.com/i/jXaK27.gif), url(https://i1.lensdump.com/i/jXYn73.png);
    background-size: 510px, 350px;
    background-position: 0 0, 105px 80px;
    background-repeat: no-repeat;
    content: "";

    position: absolute;
    left: -55px;
    width: 550px;
    height: 450px;
}


center > img[src*="uploads/banners/"] + .mainline::before {
    top: -175px;
}

.statusbar + center > .mainline:first-child::before {
    top: -375px;
}

img[src*="menu2/trees"] {
    display: none;
}

#\31 2345 {
    background-color: #07061e9e;
    margin-top: 390px !important;
}

#\31 2345 > div {
    left: 0 !important;
}

.statusbar > tbody > tr > td {
    height: 80px !important;
}

.statusbar > tbody > tr > td > table {
    margin-top: -20px;
}

button.main > table {
    font-family: Asap, sans-serif !important;
    color: #cecce1 !important;
    font-weight: normal;
}


